.container{
    display : flex; 
    align-items: center;
    justify-content : center ; 
    height : 100vh ; 
}


.clock {
    
    display : flex ; 
    border-radius: 100%;
    height: 400px;
    width : 400px ; 
    border : 40px solid red ; 
    box-shadow: 0px opx  10px rgba(253, 250, 250, 0.397) ; 

}