.container{
    display : flex ; 
    justify-content: center;
    padding-top : 100px; 
}
.main-container{
    display : flex ; 
    position: absolute;
    width: 749px;
    height: 189px;
    border : 2px solid red ; 
}

